@charset "ut-8";
*{
    /*リセット*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333333;

    /*全体共通*/
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    letter-spacing: 0.1em;
}

header{
    height: 100px;
}
.header__logo{
    width: 100px;
    position: absolute;
    top: 50px;
    left: 40px;
}
.header__nav{
    background-color: #ff2a2a;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;

    p{
        width: 50px;
        height: 30px;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;

        &::after{
            content: ' ';
            display: block;
            width: 50px;
            height: 2px;
            background-color: #fff;
            position: relative;
            top: 14px;
        }
    }
}

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ハンバーガーメニュー*/
.header__nav_menu{
    background-color: #FF2A2A;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
}
.menu-back{
    background-color: #FF2A2A;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    color: #fff;
    border: none;

    &::before, &::after{
        content: ' ';
        background-color: #fff;
        display: inline;
        width: 50px;
        height: 2px;
        position: absolute;
        top: 50px;
        right: 30px;
    }
    &::before{
        transform: rotate(45deg);
    }
    &::after{
        transform: rotate(-45deg);
    }
}
.header__nav_menu_container{
    padding: 120px 0 0 0;
    text-align: center;
    margin: 0 auto;

    ul{
        margin: 0 0 40px 0;

        li{
            margin: 0 0 25px 0;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
        }
    }
}
.add-btn-menu{
    background-color: #FF2A2A;
    border: 1px solid #fff;
    width: 250px;
    height: 51px;
    position: relative;
    /*文字*/
    color: #fff;
    font-size: 16px;
    font-weight: bold;

    &::after{
        content: ' ';
        display: block;
        width: 250px;
        height: 51px;
        border: none;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
        position: absolute;
        top: 6px;
        left: 6px;
    }
}


@media(max-width: 900px){
    .header__logo{
        width: 72px;
        top: 25px;
        left: 25px;
    }

    .header__nav{
        width: 75px;
        height: 75px;

        p{
            width: 35px;
            height: 26px;
            border-top: 2px solid #fff;
            border-bottom: 2px solid #fff;

            &::after{
                content: ' ';
                display: block;
                width: 35px;
                height: 2px;
                background-color: #fff;
                position: relative;
                top: 12px;
            }
        }
    }
}



/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝メイン統合*/
section{
    margin: 0 0 124px 0;
}
.title{
    padding: 0 0 80px 0;
    font-size: 36px;
    text-align: center;

    &::after{
        content: ' ';
        display: block;
        margin: 0 auto;
        width: 80px;
        padding-top: 10px;
        border-bottom: 3px solid #333333;
    }
}
@media(max-width: 900px){
    section{
        margin: 0 0 83px 0;
    }
    .title{
        font-size: 28px;
}}


.topvisual{
    position: relative;
}
.topvisual__bg{
    width: 80%;
    height: 720px;
    margin: 0 0 0 auto;
    position: relative;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        right: 0;
        display: none;
    }

    &::after{
        content: ' ';
        display: block;
        width: 100%;
        height: 100%;
        background-color: #ffffff00;
        box-shadow: inset 0 0 60px #fff,
                    inset 0 0 20px #fff;
    }
}
.topvisual__copy{
    position: absolute;
    top: 280px;
    left: 135px;
    padding: 0;

    p{
        font-size: 46px;
        font-weight: bold;
        text-shadow: #fff 2px 5px 5px;
        padding: 0;
    }
}
.add-btn-top{
    background-color: #FF0033;
    width: 480px;
    border-radius: 10px;
    border: none;
    box-shadow: #7A051C 0 6px 2px;
    padding: 18px 0;
    position: relative;
    /*文字*/
    text-align: center;
    font-size: 24px;
    color: #fff;
    /*アニメーション*/
    transition: 0.4s; 

    &::after{
        content: " ";
        display: inline-block;
        width: 16px;
        height: 16px;
        border-top: 4px solid #fff;
        border-right: 4px solid #fff;
        transform: rotate(45deg);
        position: absolute;
        top: 28px;
        right: 30px;
    }

    &:hover{
                transform: scale(1.05);
                transition: 0.3s;    
    }
}

@media(max-width: 900px){
    .topvisual__bg{
        background: url(./img/mainvisual1.jpg) no-repeat center center/ cover;
        width: 100%;
        height: 300px;
        margin: 0 0 10px 0;
    }
    .topvisual__copy{
        width: 100%;
        padding: 0 16px;
        position: relative;
        top: 0;
        left: 0;

        p{
            width: 100%;
            font-size: 28px;
            font-weight: bold;
            text-shadow: #fff 2px 5px 5px;
            padding: 0;
        }
        button{
            width: 100%;
            margin: 0 auto;
            padding: 18px 0;
            text-align: center;
            font-size: 24px;
            color: #fff;

            &::after{
                content: " ";
                display: inline-block;
                width: 24px;
                height: 24px;
                border: 2px solid #fff;
            }
        }
    }
    
}


/*ーーーーーーーーーーーーーーーーーーーー理由*/
.reason__container{
    background-color: #FF2A2A;
    padding: 80px 0;
}
.reason__container_online, .reason__container_native{
    background-color: #FFFFFF;
    width: 700px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        height: 60px;
    }
}
.reason__container_online{
    border-radius: 0 20px 20px 0;
    margin: 0 0 40px 0;
}
.reason__container_native{
    border-radius: 20px 0 0 20px;
    margin: 0 0 0 auto;
}
.reason__container_native_txt, .reason__container_online_txt{
    padding: 0 0 0 30px;

    h2{
        color: #FF2A2A;
        font-size: 28px;
        letter-spacing: 2.8px;
    }
    p{
        font-size: 18px;
        letter-spacing: 1.8px;
    }
}

@media(max-width: 900px){
.reason__container{
    width: 100%;
    padding: 40px 0;
}
.reason__container_online, .reason__container_native{
    width: 100%;
    max-width: 700px;
    height: 120px;
    padding: 0;
}
.reason__container_online{
    border-radius: 0 20px 20px 0;
}
.reason__container_native{
    border-radius: 20px 0 0 20px;
}
.reason__container_native_txt, .reason__container_online_txt{
    padding: 0 0 0 30px;

    h2{
        font-size: 24px;
        letter-spacing: 2.4px;
    }
    p{
        font-size: 18px;
    }
}
}


/*ーーーーーーーーーーーーーーーーーーーー　受講生の声*/

.voice__container_student, .voice__container_student_right{
    display: flex;
    align-items:flex-start;
    width: 860px;
    margin: 0 auto 63px auto;

    >p{
        background-color: #E9F1FB;
        border-radius: 15px;
        width: 514px;
        padding: 22px;
        font-size: 16px;
        position: relative;
    }
}
.voice__container_student{
    >p{
        &::before{
            content: ' ';
            display: block;
            background-color: #E9F1FB;
            width: 30px;
            height: 30px;
            clip-path: polygon(50% 0%, 0 50%, 50% 100%);
            position: absolute;
            bottom: 30px;
            left: -14px;
        }
    }
}
.voice__container_student_right{
    flex-direction: row-reverse;
    >p{
        &::after{
            content: ' ';
            display: block;
            background-color: #E9F1FB;
            width: 30px;
            height: 30px;
            clip-path: polygon(50% 0%, 100% 50%, 50% 100%);
            position: absolute;
            bottom: 30px;
            right: -14px;
        }
    }
}
.voice__container_student_name{
    margin: 0 26px 0 0;

    img{
        width: 120px;
        height: 120px;
        background-color: #afafaf;
        border-radius: 60px;
    }
    p{
        font-size: 12px;
        text-align: center;
    }
}
.voice__container_student_right_name{
    margin: 0 0 0 26px;

    img{
        width: 120px;
        height: 120px;
        background-color: #afafaf;
        border-radius: 60px;
    }
    p{
        font-size: 12px;
        text-align: center;
    }
}

@media(max-width:900px){
.voice{
    width: 100%;
    padding: 0 16px;
}
.voice__container_student, .voice__container_student_right{
    width: 100%;
    max-width: 870px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0 0 40px 0;

    >p{
        width: 100%;
        max-width: 514px;
        margin: 0 0 30px 0;
        padding: 20px;
        position: relative;

        /*三角消し*/
        &::before, &::after{ 
        display: none;
        }

        &::after{
            content: ' ';
            display: block;
            background-color: #E9F1FB;
            width: 30px;
            height: 30px;
            clip-path: polygon(50% 100%, 0 50%, 100% 50%);
            position: absolute;
            bottom: -14px;
            right: 50%;
            transform: translateX(50%);
        }
    }
}
.voice__container_student_name, .voice__container_student_right_name{
    margin: 0;
}
}


/*ーーーーーーーーーーーーーーーーーーーー　概要*/
.overview{
    background: #E8E8E8 url(./img/bg.gif);
    padding: 64px 0 60px 0;
}
.overview__container{
    display: grid;
    grid-template-columns: 400px 400px;
    place-content: center;
    place-items: center;
    gap: 32px 60px;

    div{
    background-color: #fff;
    border-radius: 20px;
    padding: 60px;

    h2, h3{
        text-align: center;
    }
    h2{
        font-size: 28px;
        margin-bottom: 24px;
    }
    h3{
        font-size: 18px;
        margin-bottom: 33px;
    }
    }
}

@media(max-width: 900px){
.overview{
    padding: 60px 16px ;
}
.overview__container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;

    div{
    padding: 30px;

    h2{
        margin-bottom: 20px;
    }
    h3{
        margin-bottom: 30px;
    }
    }
}
}

.title_noborder{
    padding: 0 0 10px 0;
    &::after{
        content:'';
        display: none;
    }
}

.experience{
    p{
        text-align: center;
        padding: 0 0 40px 0;
    }
    button{
        display: block;
        background-color: #FF2A2A;
        width: 860px;
        height: 66px;
        margin: 0 auto;
        border-radius: 40px;
        border: none;
        /*文字*/
        color: #fff;
        font-size: 28px;
        transition: 0.2s;

        &:hover{
            background-color: #fff;
            border: 1px solid #ff2a2a;
            color: #FF2A2A;
            transition: 0.2s;
        }
    }
}

@media(max-width: 900px){
    .title_noborder{
        font-size: 24px;
        font-weight: bold;
        padding: 0 0 10px 0;
        &::after{
            content:'';
            display: none;
        }
    }
    .experience{
        padding: 0 16px;

        p{
            text-align: center;
            padding: 0 0 40px 0;
        }
        button{
            display: block;
            background-color: #FF2A2A;
            width: 100%;
            height: 66px;
            margin: 0 auto;
            border-radius: 40px;
            border: none;
            /*文字*/
            color: #fff;
            font-size: 24px;

            &:hover{
                background-color: #fff;
                border: 1px solid #ff2a2a;
                color: #FF2A2A;
            }
        }
}
}


/*ーーーーーーーーーーーーーーーーーーーーフッター*/
footer{
    background-color: #E8E8E8;
    padding: 60px 0 20px 0;

    p{
        font-size: 10px;
        text-align: center;
    }
}
.footernav{
    display: flex;
    justify-content: space-around;
    width: 860px;
    margin: 0 auto;
    padding: 0 0 65px 0;
}
.footernav__container{
    h1{
        font-size: 16px;
        font-weight: bold;
    }
    ul{
        list-style: none;
        padding: 0 0 0 16px;
    }
}

@media(max-width: 900px){
    footer{
        background-color: #E8E8E8;
        padding: 60px 16px 20px 16px;

        p{
            font-size: 10px;
            text-align: center;
        }
    }
    .footernav{
        display: grid;
        gap: 35px;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        width: 100%;
        margin: 0 auto;
        padding: 0 0 65px 0;
    }
    .footernav__container{
        h1{
            font-size: 16px;
            font-weight: bold;
        }
        ul{
            list-style: none;
            padding: 0 0 0 16px;
            font-size: 12px;
        }
    }
}
